.banner-main{
 background-color:  rgba(229, 84, 115, 0.10);
 background-size: 100vh;
}
.banner-photo{
  padding-top: 100px;
}
.banner-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 250px 0px 250px;
 

}
.banner-title{
  color: #272727;
 font-family: 'Lato', sans-serif;
 font-family: 'Open Sans', sans-serif;
 font-size: 80px;
 margin: 0px 0px;
 
}
.banner-description{
  color: rgba(39, 39, 39, 0.60);
   font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin: 30px 0px;
}

.btn{
  padding: 20px 43px;
  border-radius: 8px;
  background: #E55473;
  border: none;
  color:#FFFFFF
}
.features-info{
  text-align: center;
}
.features-title{
  margin-top: 170px ;
  margin-bottom: 20px;
  font-size: 40px;
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
}
.features-description{
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  color: rgba(39, 39, 39, 0.60);
  font-size: 18px;

}
.features-image{
  margin: 70px 230px;
  margin-left: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  

.golapi{
  background-color: rgba(167, 33, 98, 0.15);
  padding: 100px 70px 0px 70px;
  border-radius: 300px 300px 0px 0px;
  margin-right: 20px;
  display: flex;
  
}
.lal{
  border-radius: 300px 300px 0px 0px;
  background:  rgba(5, 151, 160, 0.15);
  margin-right: 20px;
  padding: 100px 40px 50px 40px
}
.shobuj{
  border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
padding: 55px 75px 0px 75px
}
.fower-caption{
color: #272727;
text-align: center;
text-decoration: underline;
font-size: 24px;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
margin-top: 30px;

}
.service-section{
  display: flex;
  margin: 120px 240px;
  justify-content: center;
  border-radius: 8px;
  background-color: rgba(39, 39, 39, 0.05);
  padding: 80px 200px
}
figure{
  text-align: center;
  margin: 30px;
}
.caption-dec{
  color: rgba(39, 39, 39, 0.80);
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;

}
.service{
  margin-bottom: 120px;
}
.discount-service{
  display: flex;

  justify-content: space-between;
  padding: 100px 400px 100px 400px ;
}
.discount-info{
  text-align: center;
  margin-top: 130px;
}
.discount-container{
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  margin-bottom: 120px;
}
.discount-title{
  color: #272727;
   font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  margin-bottom: 0px;
}
.discount-description{
  color: rgba(39, 39, 39, 0.60);
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin-top: 20px;
}

.instagram-info{
  text-align: center;
}
.instagram-title{
color: #272727;
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  margin-bottom: 0px;

}
.instagram-description{
  color: rgba(39, 39, 39, 0.60);
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  margin-top: 20px;
  margin-bottom: 40px;

}
.instagram-photos{
  margin-left: 180px;
  display: flex;
}
.photo-dec{
  width: 342px;
  height: 396px;
}

.instagram-container{
   margin-bottom: 120px;
}